{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!
{% endblock %}

{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Ouvert', {{nbOuvert|number_format}}],
          ['Corrigé', {{nbCorrige|number_format}}],
          ['Non reproduit', {{nbNonReproduit|number_format}}],
          ['Fermé', {{nbFerme|number_format}}],
        ]);

        // Set chart options
        var options = {'title':'Résumé des états des anomalies',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block body %}

{% if form.valide is defined %}
	{% if form.valide == false %}

		<div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
			{{ form.message }}
		</div>

	{% else %}

		<div class="alert alert-success h3 mb-3 font-weight-normal" role="alert">
			{{ form.message }}
		</div>

	{% endif %}
{% else %}

	<div class="container-fluid">
		<div class="row justify-content-center">
			<h1 class="text-center text-secondary p-4">Gestion des anomalies</h1>
		</div>
		<div id="chart_div"></div>
		<div class="row justify-content-center">
			<div class="col-8 bg-primary p-4 m-0 text-white">


				<form name="ajout_entreprise" method="post">

					<div class="form-group">
						<label class="font-weightbold required" for="emplacement">Emplacement</label>
						<input type="text" id="emplacement" name="emplacement" required="required" class="form-control"/>
					</div>
					<br></br>
					<div class="form-group">
						<label class="font-weightbold required" for="scenario">Scénario</label>
						<input type="text" id="scenario" name="scenario" required="required" class="form-control"/>
					</div>
					<br></br>
			
		<div class="form-group mx-auto text-center">
			<button type="submit" id="btAjoutAnomalie" name="btAjoutAnomalie" class="btn font-weightbold bg-success text-white mx-auto text-center">Ajouter</button>
		</div>
		</form>

	</div>
	{% if session.role <=3 %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-8 bg-secondary p-4 m-0 text-white">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Numero</th>
							<th scope="col">Emplacement</th>
							<th scope="col">Etat</th>
							<th scope="col">Scenario</th>
							<th scope="col">Date</th>
							<th scope="col">Auteur</th>
						</tr>
					</thead>
					<tbody>
						{% for a in anomalies %}
							<tr>
								<th scope="row">{{a.num_anomalie}}</th>
								<td>
									{{a.emplacement}}
								</td>
								<td>
								{% if a.etat == 1 %}
									Ouvert
								{% elseif a.etat == 2 %}
									Corrigé
								{% elseif a.etat == 3 %}
									Non reproduit
								{% elseif a.etat == 4 %}
									Fermé
								{% endif %}
								</td>
								<td>
									{{a.scenario}}
								</td>
								<td>
									{{a.date_anomalie}}
								</td>
								<td>
									{{a.auteur}}
								</td>
								<td>
								<form name="modifierAnomalie" method="post">
								<input type="hidden" name="id" value="{{a.id}}"></input>
										<select name="statut" id="statut">
											<option value="1">Ouvert</option>
											<option value="2">Corrigé</option>
											<option value="3">Non reproduit</option>
											<option value="4">Fermé</option>
										</select>
        						
								</td>
								<td>
									<div class="form-group mx-auto text-center">
										<button type="submit" id="btModifierAnomalie" name="btModifierAnomalie" class="btn font-weightbold bg-success text-white mx-auto text-center">Modifier</button>
									</div>
								</td>
								</form>
							</tr>

						{% endfor %}
					</tbody>
				</table>
				<br></br>
			</form>
		</div>
	</div>
</div>
{% endif %}

</div></div>{% endif %}{% endblock %}
