{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!
{% endblock %}

{% block body %}

	{% if form.valide is defined %}
		{% if form.valide == false %}

			<div class="alert alert-danger h3 mb-3 font-weight-normal" role="alert">
				{{ form.message }}
			</div>

		{% else %}

			<div class="alert alert-success h3 mb-3 font-weight-normal" role="alert">
				{{ form.message }}
			</div>

		{% endif %}
	{% else %}

		<div class="container-fluid">
			<div class="row justify-content-center">
				<h1 class="text-center text-secondary p-4">Liste de mes Taches</h1>
			</div>
			<div class="row justify-content-center">
				<div class="col-8 bg-secondary p-4 m-0 text-white">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Nom de la tache</th>
							</tr>
						</thead>
						<tbody>
                        {% for t in taches %}
							<tr>
								<th scope="row">{{t.libelle}}</th>
								<td>
									<div class="btn-group btn-group-lg">
										<a href="index.php?page=listeTacheByProjet&idProjet={{idProjet}}&idTache={{t.id_tache}}">
											<span class="material-icons">delete</span>
										</a>
									</div>
								</td>
							</tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
